{% extends "base.html" %}

{% block title %}Forgot Password | SAMS{% endblock %}

{% block content %}
<div class="container py-5">

    <div class="row justify-content-center">
        <div class="col-lg-5 col-md-7">

            <!-- Info Message -->
             {% if not error %}
            <div class="alert alert-info text-center mb-4" role="alert">
                Enter your details below.  
                An OTP will be sent to your registered KIIT mail
                to reset your password.
            </div>
            {% endif %}

            {% if error %}
            <div class="alert alert-danger text-center mb-3" role="alert">
                Invalid Credentials. Please check and try again.
            </div>
            {% endif %}

            <div class="card shadow-sm border-0">
                <div class="card-body p-4">

                    <h3 class="fw-bold text-center mb-4">
                        Forgot Password
                    </h3>



                    <form method="post" action="{% url 'passRst' %}">
                        {% csrf_token %}
                    <!-- Role Selection -->
                        <div class="mb-4">
                        <label class="form-label fw-semibold">
                            Reset password for
                        </label>
                        <select class="form-select" name="role" id="roleSelect" onchange="toggleFields()">
                            <option value="student" selected>Student</option>
                            <option value="faculty">Faculty</option>
                        </select>
                        </div>


                        <!-- STUDENT FIELD -->
                        <div id="studentField" class="mb-4">
                            <label class="form-label">
                                Roll Number
                            </label>
                            <input
                                type="text"
                                name="roll"
                                class="form-control"
                                placeholder="Enter your roll number"
                            >
                        </div>

                        <!-- FACULTY FIELD -->
                        <div id="facultyField" class="mb-4 d-none">
                            <label class="form-label">
                                Enrollment ID
                            </label>
                            <input
                                type="text"
                                name="enrollment_id"
                                class="form-control"
                                placeholder="Enter your enrollment ID"
                            >
                        </div>

                        <div class="mb-4 ">
                            <label class="form-label">
                                New Password
                            </label>
                            <input
                                type="password"
                                name="newPass"
                                class="form-control"
                                placeholder="Enter new Password"
                            >
                        </div>

                        <!-- Submit -->
                        <button type="submit" class="btn btn-primary w-100">
                            Send OTP
                        </button>

                    </form>

                </div>
            </div>

        </div>
    </div>

</div>

<script>
    function toggleFields() {
        const role = document.getElementById("roleSelect").value;
        const studentField = document.getElementById("studentField");
        const facultyField = document.getElementById("facultyField");

        if (role === "student") {
            studentField.classList.remove("d-none");
            facultyField.classList.add("d-none");
        } else {
            studentField.classList.add("d-none");
            facultyField.classList.remove("d-none");
        }
    }
</script>
{% endblock %}
